<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<em>
				aslidhvgsbdkjbsdkiknj<a href="{{ '/' | url }}">Place/Love Project</a>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			lsiahdhasjkhiskhbhija{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
